 <!-- ✅ NAVBAR -->
  <nav class="bg-amber-600 py-4">
    <div class="flex flex-wrap justify-center gap-4 px-4">
      <a class="text-white hover:text-black font-semibold" href="/my_portfolio/public/Home.html">Home</a>
      <a class="text-white hover:text-black font-semibold" href="/my_portfolio/public/About.html">About</a>
      <a class="text-white hover:text-black font-semibold" href="/my_portfolio/public/Skills.html">Skills</a>
      <a class="text-white hover:text-black font-semibold" href="/my_portfolio/public/service.html">Service</a>
      <a class="text-white hover:text-black font-semibold" href="/my_portfolio/public/contact.html">Contact</a>
      <a class="text-white hover:text-black font-semibold" href="/my_portfolio/public/Project.html">Project</a>

    </div>
  </nav>