 <!-- ✅ NAVBAR -->
  <nav class="bg-amber-600 py-4">
    <div class="flex flex-wrap justify-center gap-4 px-4">
      <a class="text-white hover:text-black font-semibold" href="/user/">Home</a>
      <a class="text-white hover:text-black font-semibold" href="/user/about">About</a>
      <a class="text-white hover:text-black font-semibold" href="/user/skill">Skills</a>
      <a class="text-white hover:text-black font-semibold" href="/user/service">Service</a>
      <a class="text-white hover:text-black font-semibold" href="/user/contact">Contact</a>
      <a class="text-white hover:text-black font-semibold" href="/user/project">Project</a>

    </div>
  </nav>